<!doctype html>
{% load staticfiles %}

<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TapSearch</title>
<!--    <link href="{% static 'css/style.css' %}" rel="stylesheet">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

        .shadow{
            box-shadow: 0 10px 20px rgba(0,0,0,0.19) 0 6px rgba(0,0,0,0.23);
            border-radius: 10px;
        }
    </style>
</head>
<body>


    <div class="row justify-content-center">
        <h1>TapSearch</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="card shadow">
                <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <textarea class="form-control" id="text" placeholder="Type your paragraph here!" cols="100" rows="15"></textarea>
                       {% csrf_token %}
                        <input type="text" class="form-control mt-4" id="search_query"  placeholder="Search... for example 'index' ">
                        <small id="emailHelp" class="form-text text-muted">search farch kori fori</small>
                      </div>


                </form>
                </div>
            </div>
        </div>

        <div class="col-md-5">

            <div class="card shadow">
                <div class="card-body">
                    <p id="result"></p>
                </div>
            </div>
        </div>
    </div>






    <p id="result"></p>
    <script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>



        <!--    AJAX request of the form    -->
        $("#search_query").keyup(function(){
            $("#result").hide();
        data = {
                "text" : $("#text").val(),
                "query" : $("#search_query").val(),
                "csrfmiddlewaretoken" : $("input[name=csrfmiddlewaretoken]").val()
            }
            console.log(data)
            if(data.query != ""){

                $.ajax({
                url: "/tapsearch/data",
                type: "POST",
                data: data,
                success: function(response){
                    $("#result").show();

                    document.getElementById("result").innerHTML = ""
                    for (var i = 0; i < response.data.length; i++) {
                         document.getElementById("result").innerHTML += response.data[i]+"<br><br>"
                    }


                }
            });


            }

        });
    </script>
</body>
</html>